In [2]:
import pandas as pd
import json
from pandas.io.json import json_normalize

## Dataset Business

In [3]:
data = []
for line in open("Yelp Dataset/yelp_academic_dataset_business.json", "r", encoding="utf-8"):
    data.append(json.loads(line))

In [4]:
df_business = pd.json_normalize(data)

In [5]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160585 entries, 0 to 160584
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   business_id                            160585 non-null  object
 1   name                                   160585 non-null  object
 2   address                                160585 non-null  object
 3   city                                   160585 non-null  object
 4   state                                  160585 non-null  object
 5   postal_code                            160585 non-null  object
 6   latitude                               160585 non-null  float64
 7   longitude                              160585 non-null  float64
 8   stars                                  160585 non-null  float64
 9   review_count                           160585 non-null  int64
 10  is_open                                160585 non-null  int64
 11  categories                             160470 non-null  object
 12  attributes.RestaurantsTableService     19400 non-null   object
 13  attributes.WiFi                        59017 non-null   object
 14  attributes.BikeParking                 76480 non-null   object
 15  attributes.BusinessParking             98163 non-null   object
 16  attributes.BusinessAcceptsCreditCards  120177 non-null  object
 17  attributes.RestaurantsReservations     45607 non-null   object
 18  attributes.WheelchairAccessible        29370 non-null   object
 19  attributes.Caters                      40140 non-null   object
 20  attributes.OutdoorSeating              50128 non-null   object
 21  attributes.RestaurantsGoodForGroups    45381 non-null   object
 22  attributes.HappyHour                   15237 non-null   object
 23  attributes.BusinessAcceptsBitcoin      17593 non-null   object
 24  attributes.RestaurantsPriceRange2      92442 non-null   object
 25  attributes.Ambience                    43882 non-null   object
 26  attributes.HasTV                       44495 non-null   object
 27  attributes.Alcohol                     44443 non-null   object
 28  attributes.GoodForMeal                 29276 non-null   object
 29  attributes.DogsAllowed                 18308 non-null   object
 30  attributes.RestaurantsTakeOut          58412 non-null   object
 31  attributes.NoiseLevel                  39193 non-null   object
 32  attributes.RestaurantsAttire           40723 non-null   object
 33  attributes.RestaurantsDelivery         54485 non-null   object
 34  hours.Monday                           121672 non-null  object
 35  hours.Tuesday                          126944 non-null  object
 36  hours.Wednesday                        129469 non-null  object
 37  hours.Thursday                         130753 non-null  object
 38  hours.Friday                           130177 non-null  object
 39  hours.Saturday                         113021 non-null  object
 40  hours.Sunday                           83780 non-null   object
 41  attributes.GoodForKids                 56850 non-null   object
 42  attributes.ByAppointmentOnly           49748 non-null   object
 43  hours                                  0 non-null       float64
 44  attributes.AcceptsInsurance            7168 non-null    object
 45  attributes                             0 non-null       float64
 46  attributes.HairSpecializesIn           1193 non-null    object
 47  attributes.GoodForDancing              4758 non-null    object
 48  attributes.BestNights                  5526 non-null    object
 49  attributes.Music                       7198 non-null    object
 50  attributes.BYOB                        3519 non-null    object
 51  attributes.CoatCheck                   5188 non-null    object
 52  attributes.Smoking                     4419 non-null    object
 53  attributes.DriveThru                   6038 non-null    object
 54  attributes.BYOBCorkage                 3667 non-null    object
 55  attributes.Corkage                     3973 non-null    object
 56  attributes.RestaurantsCounterService   40 non-null      object
 57  attributes.AgesAllowed                 97 non-null      object
 58  attributes.DietaryRestrictions         68 non-null      object
 59  attributes.Open24Hours                 42 non-null      object
dtypes: float64(5), int64(2), object(53)
memory usage: 73.5+ MB

In [ ]:
df_business.to_csv("Yelp Dataset/CSV/yelp_academic_dataset_business.csv", index="False")

## Dataset Checkin

In [6]:
data = []
for line in open("Yelp Dataset/yelp_academic_dataset_checkin.json", "r", encoding="utf-8"):
    data.append(json.loads(line))

In [7]:
df_checkin = pd.json_normalize(data)

In [8]:
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138876 entries, 0 to 138875
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  138876 non-null  object
 1   date         138876 non-null  object
dtypes: object(2)
memory usage: 2.1+ MB

In [ ]:
df_checkin.to_csv("Yelp Dataset/CSV/yelp_academic_dataset_checkin.csv", index="False")

## Dataset Tip

In [20]:
data = []
for line in open("Yelp Dataset/yelp_academic_dataset_tip.json", "r", encoding="utf-8"):
    data.append(json.loads(line))

In [21]:
df_tip = pd.json_normalize(data)

In [22]:
df_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162119 entries, 0 to 1162118
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   user_id           1162119 non-null  object
 1   business_id       1162119 non-null  object
 2   text              1162119 non-null  object
 3   date              1162119 non-null  object
 4   compliment_count  1162119 non-null  int64
dtypes: int64(1), object(4)
memory usage: 44.3+ MB

In [ ]:
df_tip.to_csv("Yelp Dataset/CSV/yelp_academic_dataset_tip.csv", index="False")

## Dataset User

In [24]:
data = []
for line in open("Yelp Dataset/yelp_academic_dataset_user.json", "r", encoding="utf-8"):
    data.append(json.loads(line))

In [25]:
df_user = pd.json_normalize(data)

In [26]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189457 entries, 0 to 2189456
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 367.5+ MB

In [ ]:
df_user.to_csv("Yelp Dataset/CSV/yelp_academic_dataset_user.csv", index="False")

## Dataset Review

In [ ]:
data = []
for line in open("Yelp Dataset/yelp_academic_dataset_review.json", "r", encoding="utf-8"):
    data.append(json.loads(line))

In [ ]:
df_user = pd.json_normalize(data)

In [ ]:
df_user.info()

In [ ]:
df_user.to_csv("Yelp Dataset/CSV/yelp_academic_dataset_review.csv", index="False")